@import '../vars';
@import '../mixins/adaptive';

.header {
  padding: 50px 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
  &__link {
    color: $white;
    font: $fs-menu;
  }
}
