html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: $fs-main;
  background-color: $main;
  color: $white;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

::-webkit-scrollbar {
  max-width: 8px;
}
::-webkit-scrollbar-track {
  background-color: $main;
}

::-webkit-scrollbar-thumb {
  background-color: $boulder;
  border-radius: 3px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.for-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}

.is-hidden {
  display: none !important;
}

.dis-scroll {
  overflow-y: hidden;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  margin: 0;
  &--main {
    font: $fs-menu;
    @include small-tablet {
      font: $fs-footer;
    }
  }
  &--modal {
    text-transform: uppercase;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1330px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.title {
  margin: 0;
  &--hero {
    text-transform: uppercase;
    font: $fs-hero-title;
    @include small-tablet {
      font: $fs-hero-title-small;
    }
    @include small-mobile {
      font: $fs-hero-title-small-ad;
    }
    &-small {
      font: $fs-hero-title-small;
      @include small-tablet {
        font: $fs-hero-title-small-ad;
      }
      @include small-mobile {
        font: $fs-form-btn;
      }
    }
  }
  &--main {
    text-transform: uppercase;
    font: $fs-main-title;
    text-shadow: 4px 4px 10px $hero-shadow;
    @include small-tablet {
      font: $fs-hero-title-small-ad;
    }
  }
  &--contacts {
    text-transform: uppercase;
    font: $fs-form-btn;
    text-shadow: 0px 0px 5px $hero-shadow;
  }
}

.btn {
  cursor: pointer;
  padding: 0;
  background-color: $transparent;
  color: $white;
  border: none;
  &--main {
    padding: 15px 40px;
    border: 1px solid $white;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s ease-in-out;
    @include desktop {
      &::before {
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        z-index: -1;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        color: $main;
        &::before {
          content: '';
          width: 100%;
          left: 0;
        }
      }
    }
  }
  &--form {
    font: $fs-form-btn;
    text-transform: uppercase;
    border: 1px solid $white;
    padding: 10px 20px;
    position: relative;
    transition: color 0.2s ease-in-out;
    @include desktop {
      &::before {
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        z-index: -1;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        color: $main;
        &::before {
          content: '';
          width: 100%;
          left: 0;
        }
      }
    }
  }
  &--portfolio {
    color: $boulder;
    text-transform: uppercase;
    font: $fs-form-btn;
    padding: 6px 15px;
    transition: all 0.2s ease-in-out;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      bottom: 0;
      right: 0;
      left: 0;
      border: 1px solid $boulder;
      transition: all 0.3s ease-in-out;
      max-height: 0;
    }
    &:hover,
    &-active {
      color: $white;
      text-shadow: 0 0 5 $white;
      &::after {
        max-height: 1000px;
        transition: all 0.5s ease-in-out;
        border-color: $white;

        filter: drop-shadow(0px 0px 5px $white);
      }
    }
  }
  &--category {
    color: $boulder;
    text-transform: uppercase;
    font: $fs-category-btn;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      height: 1px;
      background-color: $white;
      max-width: 0;
      width: 100%;
    }
    &:hover,
    &-active {
      color: $white;
      text-shadow: 0 0 5 $white;
      &::after {
        max-width: 1000px;
        filter: drop-shadow(0px 0px 5px $white);
        left: 0;
      }
    }
  }
  &--close {
    color: $transparent;
    background-color: $transparent;
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../images/sprite.svg#close);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &:hover {
      transform: rotate(-90deg);
    }
  }
  &--play {
    width: 15px;
    height: 20px;
    background-image: url(../images/sprite.svg#play);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-pause {
      background-image: url(../images/sprite.svg#pause);
    }
  }
  &--volume {
    width: 22px;
    height: 20px;
    background-image: url(../images/sprite.svg#sound);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-mute {
      background-image: url(../images/sprite.svg#mute);
    }
  }
  &--full {
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite.svg#full);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &-opposite {
      background-image: url(../images/sprite.svg#full-opposite);
    }
  }
  &--burger {
    background-color: $transparent;
    color: $transparent;
    width: 60px;
    height: 60px;
    position: relative;
    &::after {
      content: '';
      background-color: $white;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      transition: all 0.2s ease-in-out;
    }
    &::before {
      content: '';
      background-color: $white;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      transition: all 0.2s ease-in-out;
    }
    &-item {
      display: block;
      opacity: 1;
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: all 0.1s ease-in-out;
    }
    &-active {
      &::after {
        transform: rotate(-45deg);
        top: 50%;
      }
      &::before {
        transform: rotate(45deg);
        top: 50%;
      }
      .btn--burger-item {
        opacity: 0;
      }
    }
  }
}
